$c-annotation--primary: red;
$c-annotation--character: $c-annotation--primary;
$c-annotation--language: green;
$c-annotation--history: blue;
$c-annotation--letters: purple;

// @include breakpoint($med) {

	.annotation {
		padding: 0.15em;
		@include border-radius(0.3em);

		$c-annotation: $c-annotation--primary;
		border: 0.1em solid $c-annotation;
		background: rgba($c-annotation, .1); 
		&:hover {
			background: rgba($c-annotation, .3); 
		}
	}

// }

.annotation-callout {
	font-size:0.9em;
	display: none;
	@include breakpoint($med) {
		display: block;
	}
	padding: 1em;
	position: absolute;
	right: 0;
	@include breakpoint($med) {
		@include grid-span(3);
		margin: 0; 
	}
	background: white;
	opacity: 0.6;
	&, .annotation-callout__inner {
		@include transition(all 0.4s);
	}
	.annotation-callout__inner {
		overflow: hidden;
		max-height: 7em;
	}
	
	&:hover, 
	&.hover { 
		opacity: 1;
		z-index: 10;
		.annotation-callout__inner { max-height: 20em; }
	}
	border-width: 0.2em 1px 1px 1px;
	border-style: solid;
	@include border-radius(0 0 0.5em 0.5em);
	&:before {
		content: "";
		position: absolute; 
		height: 1px;
		width: 0;
		left: -0;
		top: -0.2em; 
	}
	:last-child {
		margin-bottom: 0;
	}
}

@mixin annotation-colors($color) {
	border-color: $color;
	background: rgba($color, .1); 
	&:hover,
	&.hover {
		background: rgba($color, .3); 
	}
}
// @include breakpoint($med) {
	.annotation.annotation-type--character {
		@include annotation-colors($c-annotation--character);
	}
	.annotation.annotation-type--history {
		@include annotation-colors($c-annotation--history);
	}
	.annotation.annotation-type--language {
		@include annotation-colors($c-annotation--language);
	}
	.annotation.annotation-type--letters {
		@include annotation-colors($c-annotation--letters);
	}
// }

@mixin annotation-callout-colors($color) {
	border-color: $color;
	&:before { background: $color; }
}
.annotation-callout.annotation-type--character {
	@include annotation-callout-colors($c-annotation--character);
}
.annotation-callout.annotation-type--history {
	@include annotation-callout-colors($c-annotation--history);
}
.annotation-callout.annotation-type--language {
	@include annotation-callout-colors($c-annotation--language);
}
.annotation-callout.annotation-type--letters {
	@include annotation-callout-colors($c-annotation--letters);
}