.timeline {
	margin: $basespace 0; 
	@include breakpoint($med) {
		@include grid-span(6);
	}
}

.timeline__item {
	clear: both;
	padding: 1em;
	background: white;
	border: 1px solid $c-grey;
	border-width: 1px 0; 
	@include breakpoint($med) {
		border-width: 1px 1px 1px 0; 
		@include border-radius(0 0.5em 0.5em 0);
	}
	@include breakpoint($max-width) {
		border-width: 1px;
		@include border-radius(0.5em);
	}
	& :last-child {
		margin-bottom: 0;
	}
}
.timeline__item--narrow {
	border-width: 1px 0;
	@include breakpoint($med) {
		@include grid-span(4, 2, 6);
		@include border-radius(0.5em);
		border-width: 1px;
	}
}

.timeline__connector {
	clear: both;
	margin: 0 auto;
	height: $basespace;
	width: 0;
	border: 0.2em solid $c-grey;
}
.timeline__connector--dashed {
	border-style: dashed;
}
.timeline__connector--taller {
	height: $basespace * 3;
}

.timeline__date {
	background: $c-grey;
	color: white;
	@extend .gamma;
	font-family: $font-heading;
	max-width: 6em;
	text-align: center;
	margin: 0 auto;
	@include border-radius(0.5em);
}