/*!Colours */
$c-blue: blue; 
$c-green: #87942A; 
$c-darkgreen: #507742;
$c-red: red; 
$c-grey: grey; 
$c-cream: #F3F4EC;
$c-brown: #A37C45;
$c-lightgrey: #CCCFBC;

$c-text: #444; 
$c-heading: #222; 
$c-error: $c-red; 
$c-link: $c-green; 
$c-link-hover: lighten($c-link, 20%); 