$max-width: 80em; 

$sml: 25em; 
$med: 37.5em; 
$lrg-size: 50em; 
$below-lrg: 0em $lrg-size; 
$lrg: $lrg-size, 'no-query' true; // Old browsers get the largescreen layouts

$grids: 1 5 1;
$gutters: 0.1;
$grids: add-grid(9 at $med);
$gutters: add-gutter(0.2 at $med);

.container {
	// @include background-grid;
	@include clearfix;
	max-width: $max-width;
	margin: 0 auto;
	position: relative;
}