$max-width: 70em; 

$sml: 25em; 
$med: 37.5em; 
$lrg-size: 50em; 
$below-lrg: 0em $lrg-size; 
$lrg: $lrg-size, 'no-query' true; // Old browsers get the largescreen layouts

$grids: 2;
$gutters: 0.2;
$grids: add-grid(7 at $med);

.container {
	@include background-grid;
	@include clearfix;
	max-width: $max-width;
	margin: 0 auto;
}